# Basics

Numbers

In [ ]:
1

In [ ]:
-1.2

Strings

In [ ]:
'python'

In [ ]:
"python"

Arithmetic Operations

In [ ]:
a = 10
b = 5

print(a+b)
print(a*b)
print(a-b)

# List

One of the most fundamental data structure in Python. A list is simply an ordered collections. (similar to array, but with some added functionality.)

In [ ]:
str_list = ['red', 'blue', 'green']
integer_list = [1,2,3]
heterogeneous_list = ['string', 0.1, True]
list_of_lists = [str_list, integer_list, heterogeneous_list, []]

print(list_of_lists)

In [ ]:
list_length = len(integer_list)
list_sum = sum(integer_list)

print(list_length, list_sum)

In [ ]:
x = range(0,10)
zero = x[0]
one = x[1]
nine = x[-1]   # last element 
eight = x[-2]  # next to last element 

print(x)
print(zero, one, nine, eight)

Use square brackets to slice lists

In [ ]:
first_three = x[:3]
three_to_end = x[3:]
one_to_four = x[1:5]
last_three = x[-3:]
copy_of_x = x[:]

print(first_three, three_to_end, one_to_four, last_three)

It is easy to concatenate lists together:

In [ ]:
x = [1,2,3]
x.extend([4,5,6])

print(x)

In [ ]:
x = [1,2,3]
y = x + [4,5,6]

print(y)

append one item to list

In [ ]:
x = [1,2,3]
x.append(0)
print(x)

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

easier_to_read_list_of_lists = [[1,2,3],
                                [4,5,6],
                                [7,8,9]]

# Tuples

Tuples are lists' immutable cousins. You specify a tuple by using parentheses. (or nothing)

In [ ]:
my_list = [1,2]
my_tuple = (1,2)    # use this instead of other_tuple
other_tuple = 3, 4   

print(my_list)
print(my_tuple)
print(other_tuple)

Try to change some values in list and tuple

In [ ]:
my_list[0] =2 
print(my_list)

In [ ]:
my_list[1] = 3

In [ ]:
my_tupe[1] = 3

# Dictionaries

Consists of keys and values. Allows you to quickly retrieve the value corresponding to a given key:

In [ ]:
# list => []
# tuple => ()
# dictionary => {}

In [ ]:
empty_dict = {}  # more pythonic 
empty_dict2 = dict()
grades = {"Joel": 80, "Tim": 95}

joels_grade = grades["Joel"]
print(joels_grade)

In [ ]:
"Joel" in grades

In [ ]:
grades["Alice"] = 40
print(grades)

In [ ]:
grades.get("Joel")
# grades.get("John",-100)

# kates_grade = grades.get("Kate",0)
kates_grade

In [ ]:
grades["Tim"] = 99   # replace
print(grades)
grades["Kate"] = 100
print(grades)
num_students = len(grades)
print(num_students)

# If-else

In [ ]:
a = 100
b = 100
a == b
# a is b
# a is not b

In [ ]:
a == 100 and b == 50
# not (a > 200)

In [ ]:
score = int(input("Enter score: "))
if score > 70:
  grade = "Pass"
else:
  grade = "Fail"
print(grade)

# For Loop

In [ ]:
for i in [1,2,3]:
    print (i)
    for j in [1,2,3]:
        print (j, ":", i+j)
    print (i) 
print ("done looping")

In [ ]:
for i in range(3,6):
  print(i)

# Functions

In [ ]:
def make_double(x):
    return x * 2

In Python, functions are like any other objects like a list.

In [ ]:
def apply_to_one(f):
    return f(1)

In [ ]:
my_double = make_double # refers to the previously defined function 
x = apply_to_one(my_double)

print(x)

It is also easy to create short anonymous functions, or lambdas:

In [ ]:
y = apply_to_one(lambda x: x+4)
print(y)

In [ ]:
def times_two(x):
    return x*2

times_two(3)

In [ ]:
lambda x: x*2

In [ ]:
times_two = lambda x: x*2

times_two(4)

Function parameters can also be given default arguments, which fonly need to be specified when you want a value other than the default:

In [ ]:
def my_print(message="my default message"):
    print(message)
    
my_print("hello")
my_print()

In [ ]:
def subtract(a=0, b=0):
    return a-b

subtract(10,5)
# subtract(0,5)
# subtract(b=5)

Tuples are a convenient way to return multiple values from functions:

In [ ]:
def sum_and_product(x,y):
    return (x+y),(x*y)

sp = sum_and_product(2,3)
print(sp)

a ,b = sum_and_product(2,3)
print(a)
print(b)

_, b = sum_and_product(2,3)
print(b)

In [ ]:
def sum_subtract_product(x,y):
    return (x+y),(x-y),(x*y)

result = sum_subtract_product(4,5)
print(result)

Let's consdier a case where you want to multiply each element in a list by 2

In [ ]:
x = [1,2,3,4]
y = 2*x
print(y)

In [ ]:
def mul2(x):
    return 2*x

print(mul2(3))

In [ ]:
x = [1,2,3,4]
y = []
for i in x:
    y.append(mul2(i))
print(y)

Can we come up with a better Pythonic code?

In [ ]:
y = [mul2(i) for i in x]
print(y)